* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-img {
  background-image: url("./image/Darion3dImg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(229, 218, 206);
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.background-img .name-title{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  z-index: -2;
  text-align: center;
  color: black;
}

.background-img .portfolio-title{
  position: absolute;
  top: 59%;
  left: 10%;
  font-size: 3rem;
  z-index: -2;
  text-align: center;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  border: 1px solid;
  padding: 0.3rem 0.8rem;
  border-radius: 11px;
}

.search-section {
  position: absolute;
  bottom: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.search-bar {
  background-color: rgb(229, 218, 206);
  display: flex;
  align-items: center;
  width: 27rem;
  border-radius: 60px;
  padding: 0.8rem 1.2rem;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-weight: bold;
}
.search-bar input::placeholder {
  color: grey;
}

.search-bar button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-bar button img {
  height: 20px;
  width: 20px;
}


